.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.company-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  text-transform:none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-links li {
  display: inline;
  margin-right: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;font-smooth: 2em;

}

body{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('./background.jpg') center center / cover no-repeat fixed;
}




.container {
  display:block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;max-width: 50%;margin-top: -170px;margin-left: 600px;
  font-family: Arial, sans-serif;
}

.donate-container {backface-visibility: visible;
background-image: "./toy.jpg";
max-width: 50%;
margin-left: 200px;
}



h1 {
  color:white;
  margin-bottom: 20px;
  z-index: inherit;
  font-size: 30px;
  margin-left: 800px;
  margin-top:100px;
}

p {
  color:white;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc; 
}

  input {
  width: calc(80% - 10px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  vertical-align: middle;
}
  input:hover, textarea:hover {
  outline: none;
  border: 1px solid #095484;
}

button {
 margin-top: 20px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}




.h2{
  font-family: monospace;
  color: aquamarine;
  margin-left: 20px;
}
.message{
  font-size: small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(124, 192, 124);
  z-index: 12;
}


.link{
  color: rgb(162, 178, 194);
}
.trans_heading{
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aliceblue;
  text-decoration-line: underline;
}
.trans{
  font-size: 18px;
  line-height: 1.5;
  color: #fcf9f9;

}
.bal{
  color: rgb(84, 173, 114);
  margin: left -100px;
}

p4{
  color: rgb(246, 247, 246);
  }

.x{
  margin-left: 300px;
  color: #fff
}

.common{
  font-size: 18px;
  line-height: 1.5;
}

.tm{
  font-size: 25px;
  color: antiquewhite;
  position: absolute;z-index: 19;
  margin-left: 10px;
  margin-bottom: 10px;
}
 #contact-card {
      width: 300px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 50px;
      margin-left: 80px;
      margin-top:-200px;

}
    
    #contact-card h3 {
      margin-top: 0;
      font-size: 28px;
      color: #fcf3f3;
    }
    
    #contact-card p {
      margin: 0;
      font-size: 17px;
      color: #faf7f7;
    }
 


